.about-features {
  display: none;
  padding: 140px 0;
  background-color: $deep-jungle-green;
  background-image: url("../../img/about-feautures-bg.svg"),
                    url("../../img/reviews-bg-1.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 780px) top, calc(50% + 688px) bottom;
  background-size: auto 200px, auto 100px;
}

.about-features__heading {
  margin: 0;
  margin-bottom: 64px;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}

.about-features__list {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-left: -10px;
  margin-right: -10px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.about-features__item {
  width: 100%;
  max-width: 350px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 78px;
  background-color: $sacramento-state-green;
}