.about-intro {
  padding-bottom: 120px;
  background-image: url("../../img/about-intro-bg.svg");
  background-repeat: no-repeat;
  background-size: auto 200px;
  background-position: calc(50% + 760px) bottom;
}

.about-intro__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.about-intro__heading {
  width: 100%;
  max-width: 350px;
  margin: 0;
  margin-right: 30px;
  font-weight: bold;
  font-size: 64px;
  line-height: 100px;
}

.about-intro__right-wrapper {
  width: 100%;
  max-width: 730px;
}

.about-intro__right-devider {
  width: 50px;
  height: 4px;
  display: block;
  background-color: $light-coral;
  margin-bottom: 40px;
}

.about-intro__right-text {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
}