
.contact {
  padding-bottom: 120px;
  background-image: url("../img/contact-bg-1.svg"),
                    url("../img/contact-bg-2.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 760px) top, calc(50% + 755px) bottom;
  background-size: auto 200px, auto 200px;
}

.contact__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.contact__left-wrapper {
  max-width: 540px;
}

.contact__heading {
  margin: 0;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 64px;
  line-height: 100px;
}

.contact__text {
  margin: 0;
  margin-bottom: 32px;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: $light-coral;
}

.contact__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.contact__item:not(:last-child) {
  margin-bottom: 10px;
}

.contact__item {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    width: 72px;
    height: 72px;
    display: block;
    margin-right: 23px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.contact__item--experienced::before {
  background-image: url("../img/features-experienced.svg");
}

.contact__item--implement::before {
  background-image: url("../img/features-implement.svg");
}

.contact__item--productivity::before {
  background-image: url("../img/features-productivity.svg");
}

.contact__item-text {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
}

.contact__right-wrapper {
  width: 100%;
  max-width: 542px;
}

.contact__form {
  width: 100%;
}

.contact__input {
  outline: 0;
  width: 100%;
  padding: 0 81px 17px 14px;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: $white;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $white;
}

.contact__textarea {
  outline: 0;
  width: 100%;
  margin-bottom: 24px;
  padding: 0 81px 17px 14px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $white;
  color: $white;
}