.container {
  max-width: 1190px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}

@include breakpoint-down (490) {
  .container{
    padding-left: 34px;
    padding-right: 34px;
  }
}

@include breakpoint-down (380) {
  .container{
    padding-left: 24px;
    padding-right: 24px;
  }
}
