
.contact {
  padding-bottom: 120px;
  background-image: url("../img/contact-bg-1.svg"),
                    url("../img/contact-bg-2.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 760px) top, calc(50% + 755px) bottom;
  background-size: auto 200px, auto 200px;
}

.contact__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.contact__left-wrapper {
  max-width: 540px;
}

.contact__heading {
  margin: 0;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 64px;
  line-height: 100px;
}

.contact__text {
  margin: 0;
  margin-bottom: 32px;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: $light-coral;
}

.contact__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.contact__item:not(:last-child) {
  margin-bottom: 10px;
}

.contact__item {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    width: 72px;
    height: 72px;
    display: block;
    margin-right: 23px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.contact__item--experienced::before {
  background-image: url("../img/features-experienced.svg");
}

.contact__item--implement::before {
  background-image: url("../img/features-implement.svg");
}

.contact__item--productivity::before {
  background-image: url("../img/features-productivity.svg");
}

.contact__item-text {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
}

.contact__right-wrapper {
  width: 100%;
  max-width: 542px;
}

.contact__form {
  width: 100%;
}

.contact__input {
  outline: 0;
  width: 100%;
  padding: 0 81px 17px 14px;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: $white;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $white;
}

.contact__textarea {
  outline: 0;
  width: 100%;
  margin-bottom: 24px;
  padding: 0 81px 17px 14px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $white;
  color: $white;
}

@include breakpoint-down (1150) {
  .contact {
    background-position: left -100px top, right bottom;
  }

  .contact__wrapper {
    flex-direction: column;
    justify-content: center;
  }

  .contact__left-wrapper {
    width: 100%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
  }

  .contact__right-wrapper {
    width: 100%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .contact__heading {
    text-align: center;
  }

  .contact__text {
    text-align: center;
  }
}

@include breakpoint-down (900) {
  .contact {
    background-position: left -100px top, right -100px bottom;
  }

  .contact__left-wrapper {
    max-width: 600px;
  }

  .contact__right-wrapper {
    max-width: 600px;
  }
}

@include breakpoint-down (768) {
  .contact__left-wrapper {
    max-width: 515px;
  }

  .contact__right-wrapper {
    max-width: 515px;
  }
}

@include breakpoint-down (650) {
  .contact {
    padding-top: 120px;
    background-position: left -100px top 150px, right -100px bottom;
  }

  .contact__left-wrapper {
    max-width: 450px;
  }

  .contact__right-wrapper {
    max-width: 450px;
  }
}

@include breakpoint-down (585) {
  .contact {
    padding-top: 120px;
    background-position: left -200px top 150px, right -100px bottom -100px;
  }

  .contact__left-wrapper {
    max-width: 450px;
  }

  .contact__right-wrapper {
    max-width: 450px;
  }
}

@include breakpoint-down (530) {
  .contact__heading {
    font-size: 40px;
    line-height: 40px;
  }

  .contact__item-text {
    width: 100%;
    max-width: 232px;
  }
}