
.directors {
  padding: 35px 24px 56px 24px;
  position: relative;
  z-index: 1;
}

.directors--open .directors__details {
  display: block;
}

.directors--open .directors__wrapper {
  opacity: 0;
}

.directors--open .directors__button--open {
  display: block;
}

.directors__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  border-radius: 50%;
  max-width: 96px;
  min-width: 96px;
}

.directors__name {
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: $rapture-blue;
}

.directors__job {
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-style: italic;
}

.directors__details {
  display: none;
  position: absolute;
  z-index: 1;
  padding: 32px 48px 63px 48px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: $dark-green;
}

.directors__details-name {
  margin: 0;
  margin-bottom: 8px;
  text-align: center;
  font-weight: bold;
  color: $rapture-blue;
}

.directors__details-text {
  margin: 0;
  margin-bottom: 24px;
  text-align: center;
  font-size: 15px;
  line-height: 25px;
}

.directors__social {
  max-width: 60px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.directors__social-link {
  display: block;
}

.directors__social-img {
  display: block;
  &:hover path {
    fill: $light-coral;
  }
}

.directors__button {
  padding: 0;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  position: absolute;
  z-index: 1;
  left: calc(50% - 26px);
  bottom: -10%;
  cursor: pointer;

  &:hover circle {
    fill: $rapture-blue;
  }

  &:active {
    opacity: 0.7;
  }
}

.directors__button--open {
  display: none;
  padding: 0;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  position: absolute;
  z-index: 1;
  left: calc(50% - 26px);
  bottom: -10%;
  cursor: pointer;

  &:hover circle {
    fill: $light-coral;
  }

  &:active {
    opacity: 0.7;
  }
}


@include breakpoint-down (335) {
  .directors__details-name {
    margin-bottom: 2px;
  }
  .directors__details-text {
    margin-bottom: 8px;
  }
}

@include breakpoint-down (300) {
  .directors__details {
    padding: 30px 24px 63px 24px;
  }
}