
.features-section {
  padding: 140px 0;
  background-color: $sacramento-state-green;
  background-image: url("../img/features-bg.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 760px) 438px;
  background-size: auto 244px;
}

.features-section__devider {
  max-width: 50px;
  height: 4px;
  display: block;
  margin-bottom: 54px;
  background-color: $light-coral;
}

.features-section__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.features-section__heading {
  max-width: 445px;
  margin: 0;
  font-weight: bold;
  font-size: 48px;
  line-height: 49px;
}

.features-section__right-wrapper {
  max-width: 540px;
}

.features-section__right-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.features-section__right-item:not(:last-child) {
  margin-bottom: 32px;
}

// MEDIA

@include breakpoint-down (1050) {
  .features-section {
    background-image: url("../img/features-bg.svg");
    background-position: right -100px bottom;
  }

  .features-section__heading {
    max-width: 400px;
  }

  .features-section__right-wrapper {
    max-width: 500px;
  }
}

@include breakpoint-down (960) {
  .features-section {
    background-position: right -100px bottom;
  }

  .features-section__heading {
    max-width: 350px;
  }

  .features-section__right-wrapper {
    max-width: 450px;
  }
}

@include breakpoint-down (890) {
  .features-section {
    background-position: right -100px top;
  }
}

@include breakpoint-down (768) {
  .features-section {
    padding: 100px 0;
  }

  .features-section__devider {
    margin-left: 50px;
  }

  .features-section__wrapper {
    margin-left: 50px;
    flex-direction: column;
  }

  .features-section__heading {
    max-width: 445px;
    margin-bottom: 64px;
    font-size: 32px;
    line-height: 32px;
  }

  .features-section__right-wrapper {
    max-width: 573px;
  }
}

@include breakpoint-down (660) {
  .features-section__heading {
    max-width: 380px;
  }
}

@include breakpoint-down (560) {
  .features-section {
    padding: 64px 0;
  }

  .features-section__heading {
    max-width: 300px;
  }

  .features-section__devider {
    margin-left: 0;
  }

  .features-section__wrapper {
    margin-left: 0;
  }
}

@include breakpoint-down (490) {
  .features-section__heading{
    max-width: 270px;
  }
}

@include breakpoint-down (450) {
  .features-section__heading{
    max-width: 240px;
  }
}
