
.features {
  display: flex;
  &::before{
    content: "";
    width: 72px;
    height: 72px;
    display: block;
    margin-right: 23px;
    flex-shrink: 0;
  }
}

.features__experienced {
  &::before{
    background-image: url("../img/features-experienced.svg");
  }
}

.features__implement {
  &::before{
    background-image: url("../img/features-implement.svg");
  }
}

.features__productivity {
  &::before{
    background-image: url("../img/features-productivity.svg");
  }
}

.features__wrapper {
  width: 100%;
  max-width: 445px;
}

.features__heading {
  margin: 0;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: $light-coral;
}

.features__text {
  margin: 0;
  font-size: 15px;
  line-height: 25px;
}


// MEDIA

@include breakpoint-down (450) {
  .features {
    flex-direction: column;
    &::before{
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .features__wrapper {
    margin-bottom: 20px;
  }

  .features__heading {
    text-align: center;
  }

  .features__text {
    text-align: center;
  }
}

@include breakpoint-down (375) {
  .features {
    &::before{
      margin-bottom: 16px;
    }
  }

  .features__heading {
    margin-bottom: 8px;
    text-align: center;
  }

  .features__wrapper {
    margin-bottom: 48px;
  }
}