.rewievs-section {
  padding: 140px 0;
  background-image: url("../../img/reviews-bg-1.svg"),
                    url("../../img/reviews-bg-2.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 686px) top, calc(50% + 660px) 596px;
  background-size: 147px 100px, 200px 200px;
  background-color: $deep-jungle-green;
}

.reviews-section__heading {
  max-width: 920px;
  margin: 0;
  margin-bottom: 56px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}

.reviews-section__heading-inflective {
  color: $rapture-blue;
}

.reviews-section__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.reviews-section__item {
  width: 100%;
  max-width: 350px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}

// MEDIA

@include breakpoint-down (1000) {
  .rewievs-section {
    background-image: url("../../img/reviews-bg-1.svg"),
                      url("../../img/reviews-bg-2.svg");
    background-position: left top, right bottom -100px;
  }
}

@include breakpoint-down (875) {
  .rewievs-section {
    padding-bottom: 80px;
  }

  .reviews-section__list{
    flex-direction: column;
  }

  .reviews-section__item{
    max-width: 490px;
    margin-bottom: 30px;
  }
}

@include breakpoint-down (815) {
  .reviews-section__heading{
    max-width: 615px;
    font-size: 32px;
    line-height: 32px;
  }
}

@include breakpoint-down (768) {
  .rewievs-section {
    padding-bottom: 70px;
  }

  .reviews-section__heading{
    max-width: 573px;
  }

  .reviews-section__item{
    max-width: 573px;
    margin-bottom: 48px;
  }
}

@include breakpoint-down (375) {
  .rewievs-section {
    padding-bottom: 100px;
  }
}