
.sitenav {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.sitenav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.sitenav__item:not(:last-child) {
  margin-right: 40px;
}

.sitenav__link {
  text-decoration: none;
  text-transform: lowercase;
  color: $white;

  &:hover{
    color: $light-coral;
  }
  &:active{
    opacity: 0.7;
  }
}

.sitenav__contact-button{
  margin-left: auto;
}

@media only screen and (max-width: 650px) {
  .sitenav {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    overflow: auto;
    padding-top: 112px;
    padding-left: 40px;
    flex-direction: column;
    background-color: rgba(0,0,0, 0.5);

    &::before{
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      width: 68%;
      height: 100%;
      background-color: $police-blue;
      transform: translateX(100%);
    }
  }

  .sitenav__list {
    max-width: 160px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 24px;
  }

  .sitenav__item:not(:last-child){
    margin: 0;
    margin-bottom: 24px;
  }

  .sitenav__contact-button {
    margin: 0;
  }
}

@media only screen and (max-width: 450px) {
  .sitenav {
    &::before{
      width: 80%;
    }
  }
}